.root{
    -fx-padding:20 
}  
.label{  
    -fx-font-size:12pt;  
    -fx-font:bold 10pt"Arial";  
    -fx-padding:10  
}  

.tableView{
    -fx-align: Right;
}
.button  
{  
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
    -fx-border-radius:20;  
    -fx-font:bold10pt"Arial";  
}  
#title  
{  
    -fx-font:bold20pt"Arial";   
    -fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0);  
      
}  